.anchorBL{  
       display:none;  
}  


.formContent2 .imgsList{
    padding:0 0 0 1.26875em;
}
.formContent2 .imgsList li{
    float:left;
    width:4.525em;
    height:7.125em;
    overflow:hidden;
    padding:0 1em 0 0;
    position:relative;
}
.imgsList .goods-img{
    display:block;
    border:0.0625em;
    background-color:#e6e6e6;
    width:4.5em;
    height:6em;
    border-radius:0.125em;
    position:relative;
}

.imgsList .goods-del{
    position:absolute;
    right:0;
    top:0;
    width:2em;
    height:2em;
    color:#d64d4d;
    text-align:center;
}
.imgsList .goods-del:after{
    display:block;
    position:absolute;
    content:" ";
    background-color:#fff;
	background-image: url('../../common/imgs/del.png');
    width:1.2em;
    height:1.2em;
    top:0.5em;
    z-index:1;
    border-radius:50%;
    box-shadow:2px 2px 5px rgba(0,0,0,0.9);
}